<hr>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Select</th>
      <th scopr="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let d of data">
      <th scope="row">
        <div class="form-radio">
          <input class="form-check-input" [(ngModel)]="sel" [value]="d.id" type="radio" name="sel" />
        </div>
      </th>
      <td>{{d.id}}</td>
      <td>{{d.name}}</td>
      <td>{{d.description}}</td>
    </tr>
  </tbody>
</table>
<hr>
<!-- <div class="d-grid gap-2 col-2 mx-auto"> -->
<div class="container text-center">
  <div class="row">
    <div class="col">
      <button type="button" (click)="create()" class="btn btn-outline-success"
        data-mdb-ripple-color="dark">Create</button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-outline-warning" data-mdb-ripple-color="dark">Update</button>
    </div>
    <div class="col">
      <button type="button"  (click)="delete()" class="btn btn-outline-danger" data-mdb-ripple-color="dark">Delete</button>
    </div>
  </div>
</div>
<hr>